<div class="container">
  <div class="row">
    <div class="col-lg-4"></div>
    <div class='col-lg-4'>
      <div class='card'>
        <form #characterForm='ngForm'>
          <input type='text' autocomplete='off' placeholder='Search'
            [(ngModel)]='search' name='search' #c_form='ngModel' (keyup)='searchCharacter()'>
          <!-- <button (click)='searchCharacter(c_form.value)'>Search</button> -->
        </form>
      </div>
    </div>
    <div class="col-lg-4"></div>
  </div>
  <div style='margin-top:80px;' class="row">
    <div class="col-lg-1"></div>
    <div style='background-color:white;' class="col-lg-10">
      <div class="col-lg-6">
        <img id='image' src="{{characters.image_path}}" alt="Image representing the character">
      </div>
      <div class="col-lg-6">
        <h1>{{characters.real_name}}- {{characters.s_name}}</h1>
        <h3><strong>Origin:</strong> {{characters.origin}}</h3>
        <h3><strong>Gender:</strong> {{characters.gender}}</h3>
        <h3><strong>Publisher:</strong> {{characters.publisher}}</h3>
        <h3><strong>Overview:</strong></h3><h4>{{characters.overview}}</h4>
      </div>
    </div>
    <div class="col-lg-1"></div>
  </div>
  <div class="row">
    <div class="col-lg-1"></div>
    <div style='background-color:white;' class="col-lg-10">
      <h3><strong>Abilities ({{powers.length}}):</strong></h3>
      <div *ngFor='let power of powers; let i = index' class="col-lg-2">
        <h5>{{power}}</h5>
      </div>
    </div>
    <div class="col-lg-1"></div>
  </div>
</div>
